.content h1 {
    padding: 3rem 0 0;
    text-align: center;
    color: rgb(164, 164, 164);
    font-size: 40px;
    text-shadow: 1px 1px rgb(232, 232, 232);
    text-shadow: 1px 7px 5px rgb(86, 86, 86);
    text-transform: uppercase;
    font-family: 'Lato1';

}

.content p {
    text-align: center;
    margin: auto;
    max-width: 900px;
    color: rgb(164, 164, 164);
    font-size: 19px;
    letter-spacing: 1px;
    line-height: 27px;
    padding: 2rem 0;
}

.p a {
    color:rgb(255, 255, 255);
    text-decoration: none;
}
.p {
    padding: 0 0 3rem;
}

.content hr {
    width: 40%;
    margin: auto;
    background-color: rgb(240, 240, 240);
    height: 2px;
    border: none;
    text-align: center;
}


